[submodule "scripts/pharo-headless-test"]
	path = scripts/pharo-headless-test
	url = https://github.com/avwohl/pharo-headless-test.git
[submodule "third_party/asmjit"]
	path = third_party/asmjit
	url = https://github.com/asmjit/asmjit.git
